#content.container
  %h1.text-center Create Listing
  = simple_form_for @listing do |f|
    = render partial: 'fields', locals: { form: f }
    .text-center= f.button :submit, class: 'btn btn-primary btn-lg'
