- content_for :title, 'Reset password'
#content.container
  %h1.text-center Reset Password
  .row
    .col-md-4.col-md-offset-4
      .panel.panel-primary
        .panel-heading
          %span.panel-title Reset Password
        .panel-body
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = f.input :email, autofocus: true
            = f.button :submit, 'Send reset instructions', class: 'btn-primary'
        .panel-footer
          = render "devise/shared/links"
