#header.section
  .container.text-center
    %h1 Selling Made Simple
    = link_to 'Get Started', '#', class: 'btn btn-primary btn-lg'
%section
  .container
    .row
      .col-md-7.text-right
        %h2 Sell your home without paying listing commissions
        %p
          We match you with a local real estate professional – or as we like
          to call them – real estate ninjas – who have already agreed to sell
          your home for a flat $2,500 fee paid at closing.
        = link_to 'Learn More', '#', class: 'btn btn-primary btn-lg'
      .col-md-3.col-md-offset-1
        = image_tag image_path('jane.png'), class: 'img-responsive'
%section.testimonial
  .container
    .row
      .col-md-4
        .box
          %p
            Loved how easy it was to work with this company. I was able to
            do everything from my chair and was very satisfied with my listing
            agent. They worked around the clock for me.
          %p.text-center.person - Justin Fitzgerald
      .col-md-4
        .box
          %p
            Great, knowledgeable and helpful people! They matched me with a
            wonderful agent and I saved $9,000 in commission fees! Highly
            recommend.
          %p.text-center.person - Veronica Graham
      .col-md-4
        .box
          %p
            It's going to be at least an $11,000 savings. So it's almost a
            no-brainer to allow Front Door to be apart of selling my home.
          %p.text-center.person - Scott Vogel
    
