p {
  font-size: 16px;
}

nav.navbar.navbar-default {
  margin-bottom: 0;

  .navbar-brand {
    color: $brand-primary;
  }
}

#content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  @extend .panel;
  padding: 10px;
}

// To make sure footer isn't above bottom of browser window
main {
  // min-height: 90vh;
}

footer {

}

// For public pages
#header {
  background: url(image-path('header-bg.jpg')) no-repeat center center;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    color: white;
    text-shadow: 2px 2px 8px black;
    margin-bottom: 24px;
  }
  
  .btn {
    font-size: 24px;
  }

  .details {
    color: white;
    text-align: right;
    font-size: 24px;
    line-height: 24px;
    padding: 8px;
    text-shadow: 0 2px 4px black;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    
    &.address {
      top: 0;
      right: 0;
      border-bottom-left-radius: 4px;
    }
    
    &.asking-price {
      bottom: 0;
      right: 0;
      border-top-left-radius: 4px;
    }
  }
}

section {
  padding: 80px 0;
}

section.testimonial {
  background: url(image-path('testimonial-bg.jpg')) no-repeat center center;
  background-size: cover;

  .box {
    padding: 20px 20px 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    p {
      font-size: 20px;

      &.person {
	color: $brand-primary;
	font-weight: bold;
      }
    }
  }
}

// For listing pages
.flow-me {
  display: flex;
  flex-wrap: wrap;
  flex-flow: space-between;

  .panel {
    min-width: 30%;
  }
}

// For flashes
.alert {
  font-weight: bold;
  margin: 0;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

// For badges
.badge-primary {
  background-color: $brand-primary;
}